.navbar {
    background: rgb(30, 30, 30);
    height: 5rem;
    width: 100vw;
    max-width: 75rem;
    margin: 0 auto;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 3;
}

.logoContainer {
    padding-top: 0.5rem;
}

.logo {
    object-fit: cover;
    height: 4rem;
    width: 4rem;
    cursor: pointer;
}

.desktopMenuListItem {
    margin: 1rem;
    cursor: pointer;
}

.desktopMenuListItem:hover {
    color: #008CFF;
    padding-bottom: 0.5rem;
    border-bottom: 3px solid #008CFF;
}

.desktopMenuBtn {
    background: rgb(184, 214, 243);
    color: black;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    border-radius: 2rem;
    cursor: pointer;
    transition: background-color 0.3s ease; 
  
    /* Style the button content on hover */
    &:hover {
      background-color: #008CFF; 
    }
}

.desktopMenuImg {
    object-fit: cover;
    height: 1rem;
    width: 1rem;
    margin: 1rem;
}

/* For both desktop and mobile navigation menus */

.active {
    color: #008CFF;
    padding-bottom: 0.5rem;
    border-bottom: 3px solid #008CFF;
}

/* For mobile navigation menu */

.mobMenu {
    display: none;
    object-fit: cover;
    height: 1.8rem;
}

.navMenu {
    position: absolute;
    top: 4rem;
    right: 2rem;
    z-index: 2;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    height: fit-content;
    min-width: 15rem;
    background: rgb(50, 50, 50);
    border-radius: 1rem;
}

.listItem {
    color: white;
    padding: 0.5rem 3rem;
    margin: 0.25rem;
    background: rgb(30, 30, 45);
    border-radius: 0.5rem;
    text-align: center;
}

@media screen and (max-width:720px) {
    .mobMenu {
        display: flex;
    }
    .desktopMenu, .desktopMenuBtn {
        display: none;
    }
}