.footer {
    width: 100vw;
    height: 4rem;
    background: rgb(50, 50, 80);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 300;
    font-size: small;
    padding: 1rem;
}